hr.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  border: 0;
}

hr.header1 {
  margin: 0 0;
  border-bottom: 1.5px solid black;

}

hr.header2 {
  margin: 0 0;
  margin-bottom: 20px;
  border-bottom: 1.5px solid black;

}

.btnSize {
  width: 70px;
}

#header {
  color: white;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  width: 1250px;
  height: 80px;
  line-height: 60px;
  text-shadow: black 2px 2px 3px;

}

.lgBtnSize {
  width: 250px;
  height: 70px;
  background: #7E7E7E;
  color: white;
  text-shadow: black 1px 1px 2px;
}

#randomBtn {
  border: 1px solid black;
}

small#headerSmall {
  color: #BDBDBD;
}

.hideEl {
  display: none;
}

.runDiv {
  
}

.slider {
  float: right;
  margin-right: 20px;
}

.runDiv {
  box-shadow: inset 0 0 1em gray;

  width: 820px;
  height: 410px;
  /*border: 1px solid black;*/
  border-radius: 5px;

}

.chordImg {
  display: block;
  margin: 0 auto;
  vertical-align: middle;
  width: 200px;
  text-align: center;
  margin-top: 80px;
  border: 1px solid gray;
  border-radius: 5px;

}

#jogDial {
  position: relative;
  margin: 20px auto;
  background: url(JogDial.js/jogDial.png);
  background-size: 100%;
  width: 150px;
  height: 150px;
}

#jogDial_knob {
  position: absolute;
  background: url(JogDial.js/jogDial_knob.png);
  background-size: 100%;
  width: 40px;
  height:40px;
}

#jogDial_wheel {
  width: 115px;
  height: 115px;
}

.well {
  position: relative;
  width: 50px;
  top: 0;
  right: 0;

}

.jogDialContainer {
  position: absolute;
}



